{
	"parserOptions": {
		"ecmaVersion": 2016,
		//指定ECMAScript支持的版本，6为ES6
		"sourceType": "module",
		//指定来源的类型，有两种”script”或”module”
		"ecmaFeatures": {
			"jsx": true
			//启动JSX
		}
	},
	"plugins": [
		"react"
	],
	"rules": {},
	"env": {
		"browser": true,
		"node": true,
		"es6":true
	}
}