{
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
//		"react"
	],
	"parser": "babel-eslint",
	"rules": {
		"no-console":"error"
	},
	"env": {
		"browser": true,
		"node": true,
		"es6":true
	}
}